.main{
    text-align:center
}
.selected{
    background-color: dodgerblue;
}
.options{
    padding:8px;
    border:2px solid black;
    width:600px;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-weight: bold;
   align-content: center;
    
    text-align: center;
    height:100%;

}
button{
    padding:10px;
    border:1 px solid grey;
    height:30px;
    width:120px;
    text-align :center;
}
.questions{
    font-weight: bold;
}
 